html, body{
    height:100%;
}

#deco{
    padding-top:50px;
    background-image: url("../img/hero-image.jpg");
}

#deco-content{
    height:300px;
    padding-top: 200px;
    padding-bottom:200px;
}

.navbar{
    background: rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0.3);
}


section{
    /*put some styles here*/
}

/*these will come in handy. make a custom slide-in navmenu using these*/
@media (min-width: 992px) {

}
